*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62.5%;
}
body{
    background-color: black;
}
.head{
    background-image: url("C:/Users/Jorge/OneDrive/Documentos/JORGE/UNIVERSIDAD/SEGUNDO SEMESTRE/LENGUAJES DE PROGRAMACIÓN/PROGRAMASY/images/codigo.jpg");
    background-size: auto 130%;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom 10% right 20% ;
    height: 700px;
}
.head div{   
    background-color: rgba(255, 255, 255, 0.615);
    position: inherit;
    display:flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0%;
    /*text-align: center;*/
}
.head div h1{
    position: inherit;
    font-size: 12rem;
    /*background-color: blueviolet;*/
    color: rgb(108, 73, 248);
    margin: auto;
    margin-bottom: 5%;
    text-shadow: 4px 4px 8px #000000df;
}
.head div p{
    position: inherit;
    font-size: 3rem;
    /*background-color: blueviolet;*/
    color: rgb(134, 105, 249);
    margin: auto;
    margin-top: 0%;
    text-shadow: 0px 0px 14px #ffffff;
}
.box1{
    background-image: url("C:/Users/Jorge/OneDrive/Documentos/JORGE/UNIVERSIDAD/SEGUNDO SEMESTRE/LENGUAJES DE PROGRAMACIÓN/PROGRAMASY/images/aprendices.jpg");
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 2%;
    height: 700px;
}
.box1 div{
    background-color: rgba(163, 168, 242, 0.544);
    position: inherit;
    display:flex;
    flex-direction: column;
    height: 100%;
}
.box1 div h1{
    position: inherit;
    font-size: 6rem;
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 13%;
    margin-bottom: 8%;
}
.box1 div p{
    text-align: center;
    width: 80%;
    position: inherit;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 0%;
}
.box2{
    background-color: rgb(147, 177, 24);
    height: 700px;
    margin-top: 2%;
}
.box2 div{
    margin: auto;
    position: relative;
    display:flex;
    flex-direction: column;
}
.box2 div h1{
    position: inherit;
}
.box3{
    background-color: rgba(205, 226, 111, 0.764);
    height: 700px;
    margin-top: 2%;
}
.box3 div{
    margin: auto;
    position: relative;
}
.box3 div h1{
    position: inherit;
}